<!DOCTYPE HTML>

<html lang="pl">

<head>
<meta charset="utf-8" />
<title>Portfolio Emil Dworniczak</title>
<meta name="description" content="Przed Tobą moja pierwsza strona w html" />
<meta name="keaywords" content="Portfolio, Emil Dworniczak, Nauka HTML, Praca w IT" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Emil Dworniczak"/>
</head>

<body>
<h1>about</h1>


</body>


</html> 