{% load static %}

<!DOCTYPE HTML>

<html lang="pl">

<head>
<meta charset="utf-8" />
<title>Portfolio Emil Dworniczak </title>
<meta name="description" content="Serwis poświecony nauce HTML/CSS, moja pierwsza autorska strona internetowa" />
<meta name="keaywords" content="Nauka, kurs, Portfolio, IT, Emil, Dworniczak, Emil Dworniczak, HTML, CSS, SEO" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Emil Dworniczak"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,900&amp;subset=latin-ext" rel="stylesheet">

</head>

<body>
<div id="container">
	<div id="logo">
	Emil Dworniczak strona www ;)
	</div>
	<div id="menu">
	<div class="option"><a style="color:white" href="#">Strona Główna</a></div>
	<div class="option"><a style="color:white" href="it.html">Dlaczego IT</a></div> 
	<div class="option">
	<a style="color:white" href="https://www.linkedin.com/in/emil-dworniczak-832556146/" target="_blank" title="Mój Linkedin">
	Linkedin </a></div>
	<div class="option">
	<a style="color:white" href="https://twitter.com/iEmix" target="_blank" title="Mój Twitter">Twitter </a></div>
	<div class="option">
	<a style="color:white" href="https://www.facebook.com/emil.dworniczak" target="_blank" title="Moj Facebook">Facebook </a></div>
	<div class="option"><a style="color:white" href="contact.html">Kontakt</a></div>
	<div style="clear:both;"></div>
	</div>
	<div id="topbar">
		<div id="topbarL">
			<img src="img/linux.png"/>
		</div>
		<div id="topbarR">
		<span class="bigtitle">Dla poprawy humoru </span>
		<div style="height: 15px;"></div>
		"Kiedy mówisz napisałem program który wywalił windows ludzię gabią się na ciebie głupkowato
		hej ja dostałem to wraz z systemem, za darmo" - Linus Torvalds, Twórca Linuxa ;) </br>
		Zapraszam do zapoznania się z witryną.
		</div>
		<div style="clear:both;"></div>
	</div>
	<div id="sidebar">
	<div class="optionL"><a href="#">Strona Główna</a></div>
	<div class="optionL"><a href="it.html">Dlaczego IT</a></div> 
	<div class="optionL">
	<a href="https://www.linkedin.com/in/emil-dworniczak-832556146/" target="_blank" title="Mój Linkedin">
	Linkedin </a></div>
	<div class="optionL">
	<a href="https://twitter.com/iEmix" target="_blank" title="Mój Twitter">Twitter </a></div>
	<div class="optionL">
	<a href="https://www.facebook.com/emil.dworniczak" target="_blank" title="Moj Facebook">Facebook </a></div>
	<div class="optionL"><a href="contact.html">Kontakt</a></div>
	<div style="clear:both;"></div>
	</div>
	<div id="content">
	<span class="bigtitle">Kilka słów o mnie</span>
	<div class="dottedline"></div>
		Witajcie na mojej pierwszej stronie internetowej</br></br>
		Moją pasją jest rozwój osobisty i nieustanna nauka.</br>
		Jeszcze nie tak dawno byłem kompletnie innym człowikiem chciałem ciągle się bawić, iść po najniższej lini oporu lecz tudne przeżycia zmieniły mnie. Dostałem od świata drugą szanse i teraz chcę ją wykorzystać ;)  
		Moim celem jest zdobywanie kwalifikacji zawodowych, pozyskanie nowej wiedzy, nieustanny
		rozwój oraz zdobycie doświadczenia. Szukam wyzwań dzięki którym
		mógłbym się rozwinąć. </br>
		
		<h4>Moje ulubione cytaty:</h4>

		"Jeśli robisz to co trudne, Twoje życie będzie latwe."		- Les Brown</br></br>
		"Codziennie zrób coś, co przybliży cie o cal do lepszego jutra" - Doug Firebaugh</br></br>
		"Nigdy, nigdy , nigdy, nigdy się nie poddawaj" - Winston Churchill </br></br>
		"Nigdy nie bój się spróbować czegoś nowego.Pamiętaj amatorzy zbudowali Arkę, a profesjonaliści Titanica"</br></br>
		Trzeba umieć kochać życie, nawet jak to życie nie kocha nas.
		<h5>Dziękuje za zapoznanie się z moją pierwszą stroną internetową.</h5>
	</div>
	
	<div id="footer">
	&copy Wszelkie prawa zastrzeżone Emil Dworniczak. Podziękowania dla Mirosława Zelenta. 
	</div>

</div>



</body>


</html> 