{% load static %}

<!DOCTYPE HTML>

<html lang="pl">

<head>
<meta charset="utf-8" />
<title>Nauka django </title>
<meta name="description" content="Serwis poświecony nauce HTML/CSS, moja pierwsza autorska strona internetowa" />
<meta name="keaywords" content="Nauka, kurs, Portfolio, IT, Emil, Dworniczak, Emil Dworniczak, HTML, CSS, SEO" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Emil Dworniczak"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,900&amp;subset=latin-ext" rel="stylesheet">

</head>

<body>
<div id="container">
	<div id="logo">
	Strona biblioteki strona www ;)
	</div>
	<div id="menu">
	<div class="option"><a style="color:white" href="/">Strona Główna</a></div>
	<div class="option"><a style="color:white" href="#">Blog</a></div> 
	<div class="option">
	<a style="color:white" href="#" target="_blank" title="Linkedin biblioteki">Linkedin </a></div>
	<div class="option">
	<a style="color:white" href="#" target="_blank" title="Twitter biblioteki">Twitter </a></div>
	<div class="option">
	<a style="color:white" href="#" target="_blank" title="Facebook biblioteki">Facebook </a></div>
	<div class="option"><a style="color:white" href="/contact">Kontakt</a></div>
	<div class="option"><a style="color:white" href="/admin">Baza danych</a></div>
	<div style="clear:both;"></div>
	</div>
	<div id="topbar">
		<div id="topbarL">
			<img src="{% static "img/base.png" %}" alt="My image" />
		</div>
		<div id="topbarR">
		<span class="bigtitle">Dla poprawy humoru </span>
		<div style="height: 15px;"></div>
		"Kiedy mówisz napisałem program który wywalił windows ludzię gabią się na ciebie głupkowato
		hej ja dostałem to wraz z systemem, za darmo" - Linus Torvalds, Twórca Linuxa ;) </br>
		Zapraszam do zapoznania się z witryną.
		</div>
		<div style="clear:both;"></div>
	</div>
	<div id="sidebar">
	<div class="optionL"><a href="/">Strona Główna</a></div>
	<div class="optionL"><a href="#">Blog</a></div> 
	<div class="optionL">
	<a href="#" target="_blank" title="Linkedin biblioteki">Linkedin </a></div>
	<div class="optionL">
	<a href="#" target="_blank" title="Twitter biblioteki">Twitter </a></div>
	<div class="optionL">
	<a href="#" target="_blank" title="Facebook biblioteki">Facebook </a></div>
	<div class="optionL"><a href="/contact">Kontakt</a></div>
	<div class="optionL"><a href="/admin">Baza danych</a></div>
	<div style="clear:both;"></div>
	</div>
	<div id="content">
	<span class="bigtitle">Blog</span>
	<div class="dottedline"></div>
		Nauka Django 
     <h5>Wersja Alpha.</h5>		
		
		
		<h5>Dziękuje za zapoznanie się z moją pierwszą stroną internetową z użyciem django.</h5>
	</div>
	
	<div id="footer">
	&copy Wszelkie prawa zastrzeżone Emil Dworniczak. Podziękowania dla Mirosława Zelenta. 
	</div>

</div>



</body>


</html> 