<!DOCTYPE HTML>

<html lang="pl">

<head>
<meta charset="utf-8" />
<title>Portfolio Emil Dworniczak </title>
<meta name="description" content="Serwis poświecony nauce HTML/CSS, moja pierwsza autorska strona internetowa" />
<meta name="keaywords" content="Nauka, kurs, Portfolio, IT, Emil, Dworniczak, Emil Dworniczak, HTML, CSS, SEO" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Emil Dworniczak"/>
<link rel="stylesheet" href="style.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,900&amp;subset=latin-ext" rel="stylesheet">

</head>

<body>
<div id="container">
	<div id="logo">
	Emil Dworniczak strona www ;)
	</div>
	<div id="menu">
	<div class="option"><a style="color:white" href="index.html">Strona Główna</a></div>
	<div class="option"><a style="color:white" href="it.html">Dlaczego IT</a></div> 
	<div class="option">
	<a style="color:white" href="https://www.linkedin.com/in/emil-dworniczak-832556146/" target="_blank" title="Mój Linkedin">
	Linkedin </a></div>
	<div class="option">
	<a style="color:white" href="https://twitter.com/iEmix" target="_blank" title="Mój Twitter">Twitter </a></div>
	<div class="option">
	<a style="color:white" href="https://www.facebook.com/emil.dworniczak" target="_blank" title="Moj Facebook">Facebook </a></div>
	<div class="option"><a style="color:white" href="#">Kontakt</a></div>
	<div style="clear:both;"></div>
	</div>
	<div id="topbar">
		<div id="topbarL">
			<img src="img/linux.png"/>
		</div>
		<div id="topbarR">
		<span class="bigtitle">Dla poprawy humoru </span>
		<div style="height: 15px;"></div>
		"Kiedy mówisz napisałem program który wywalił windows ludzię gabią się na ciebie głupkowato
		hej ja dostałem to wraz z systemem, za darmo" - Linus Torvalds, Twórca Linuxa ;) </br>
		Zapraszam do zapoznania się z witryną.
		</div>
		<div style="clear:both;"></div>
	</div>
	<div id="sidebar">
	<div class="optionL"><a href="index.html">Strona Główna</a></div>
	<div class="optionL"><a href="it.html">Dlaczego IT</a></div> 
	<div class="optionL">
	<a href="https://www.linkedin.com/in/emil-dworniczak-832556146/" target="_blank" title="Mój Linkedin">
	Linkedin </a></div>
	<div class="optionL">
	<a href="https://twitter.com/iEmix" target="_blank" title="Mój Twitter">Twitter </a></div>
	<div class="optionL">
	<a href="https://www.facebook.com/emil.dworniczak" target="_blank" title="Moj Facebook">Facebook </a></div>
	<div class="optionL"><a href="#">Kontakt</a></div>
	<div style="clear:both;"></div>
	</div>
	<div id="content">
	<span class="bigtitle">Kontakt do mnie</span>
	<div class="dottedline"></div>
	<h2>Jeżeli masz jakaś sprawę, chcesz o coś zapytać to po prostu napisz do mnie</h2>
	<h4>Adresy e-mail poniżej:</h4>
		<a href="mailto:emil@dworniczak.pl">emil@dworniczak.pl</a></br></br>
		<a href="mailto:emdom4@gmail.com">emdom4@gmail.com</a></br></br>
		Jeżeli masz taką potrzebę możesz również spróbować odezwać się do mnie na portalach społecznościowych </br>
		Takich jak Linkedin, Twitter, Facebook odnośniki masz zarówno w menu górnym jak i bocznym</br></br>
		
		
		<h4>Pozdrawiam i życzę miłego dnia.</h4>
		
		<h5>Dziękuje za zapoznanie się z moją pierwszą stroną internetową.</h5>
	</div>
	
	<div id="footer">
	&copy Wszelkie prawa zastrzeżone Emil Dworniczak. Podziękowania dla Mirosława Zelenta. 
	</div>

</div>



</body>


</html> 