<!DOCTYPE HTML>

<html lang="pl">

<head>
<meta charset="utf-8" />
<title>Portfolio Emil Dworniczak </title>
<meta name="description" content="Serwis poświecony nauce HTML/CSS, moja pierwsza autorska strona internetowa" />
<meta name="keaywords" content="Nauka, kurs, Portfolio, IT, Emil, Dworniczak, Emil Dworniczak, HTML, CSS, SEO" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Emil Dworniczak"/>
<link rel="stylesheet" href="style.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,900&amp;subset=latin-ext" rel="stylesheet">

</head>

<body>
<div id="container">
	<div id="logo">
	Emil Dworniczak strona www ;)
	</div>
	<div id="menu">
	<div class="option"><a style="color:white" href="index.html">Strona Główna</a></div>
	<div class="option"><a style="color:white" href="#">Dlaczego IT</a></div> 
	<div class="option">
	<a style="color:white" href="https://www.linkedin.com/in/emil-dworniczak-832556146/" target="_blank" title="Mój Linkedin">
	Linkedin </a></div>
	<div class="option">
	<a style="color:white" href="https://twitter.com/iEmix" target="_blank" title="Mój Twitter">Twitter </a></div>
	<div class="option">
	<a style="color:white" href="https://www.facebook.com/emil.dworniczak" target="_blank" title="Moj Facebook">Facebook </a></div>
	<div class="option"><a style="color:white" href="contact.html">Kontakt</a></div>
	<div style="clear:both;"></div>
	</div>
	<div id="topbar">
		<div id="topbarL">
			<img src="img/linux.png"/>
		</div>
		<div id="topbarR">
		<span class="bigtitle">Dla poprawy humoru </span>
		<div style="height: 15px;"></div>
		"Kiedy mówisz napisałem program który wywalił windows ludzię gabią się na ciebie głupkowato
		hej ja dostałem to wraz z systemem, za darmo" - Linus Torvalds, Twórca Linuxa ;) </br>
		Zapraszam do zapoznania się z witryną.
		</div>
		<div style="clear:both;"></div>
	</div>
	<div id="sidebar">
	<div class="optionL"><a href="index.html">Strona Główna</a></div>
	<div class="optionL"><a href="#">Dlaczego IT</a></div> 
	<div class="optionL">
	<a href="https://www.linkedin.com/in/emil-dworniczak-832556146/" target="_blank" title="Mój Linkedin">
	Linkedin </a></div>
	<div class="optionL">
	<a href="https://twitter.com/iEmix" target="_blank" title="Mój Twitter">Twitter </a></div>
	<div class="optionL">
	<a href="https://www.facebook.com/emil.dworniczak" target="_blank" title="Moj Facebook">Facebook </a></div>
	<div class="optionL"><a href="contact.html">Kontakt</a></div>
	<div style="clear:both;"></div>
	</div>
	<div id="content">
	<span class="bigtitle">Dlaczego IT?</span>
	<div class="dottedline"></div>
		Interesuję mnie IT od dnia narodzin bo właśnie wtedy dostałem swój pierwszy komputer.</br>
		Jednym z moich pierwszym wspomnień jest instalacja systemu windows 3.11 ... miałem wtedy może 5 lat nie pamiętam czy potrafiłem wtedy jeszcze czytać czy pisać a już obserwowałęm tate jak instalował windowsa z 11 dyskietek ... Przez następne lata zaczynałem przygodę z systemami operacyjnymi i samodzielnie instalowałem wszystkie windowsy od 98 aż po Windows 10 insider preview ciekawią mnie nowości i zmiany a żadna branża nie jest tak dynamiczna jak IT.
		W między czasie bawiłem się różnymi systemi operacyjnymi Windows serwer 2003,2008,2012.
		Z dystrybucjami linux również eksperymentowałem instalując pokolei ubuntu, minta, debiana, opensuse, elementary os. Korzystałem również z wielu środowisk graficznych. To wszystko robiłem hobbistycznie. W czasie technikum poznałem IT od strony sprzętowej montaż i składanie PC, zarabianie kabli, konfiguracja central abonamenckich. W życiu zawodowym miałem staż jako specialista do sprzedaży usług SEO dzięki czemu poznałem zagadnienia zwiazane z pozycjonowaniem. Obecnie studiuję gdzię nauczyłem się podstaw C++ i pythona a hobbistyczznie uczę się języków webowych. Jak widać mam bardzo obszerną wiedzę z IT od montażu komputera przez umiejętności sieciowe kończąc na nauce języków programistycznych/Webowym.
     <h5>Przed mną teraz najtrudniejsze pytanie ... Co wybrać w IT skoro całe jest takie fascynujące.</h5>		
		
		
		<h5>Dziękuje za zapoznanie się z moją pierwszą stroną internetową.</h5>
	</div>
	
	<div id="footer">
	&copy Wszelkie prawa zastrzeżone Emil Dworniczak. Podziękowania dla Mirosława Zelenta. 
	</div>

</div>



</body>


</html> 